.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 34px;
  background: rgb(241, 232, 245);
}
.head {
  width: 100%;
  height: 48px;
  background: #001529;
}
.head-text {
  position: absolute;
  width: 132px;
  height: 35px;
  left: 30px;
  top: 6px;
}
.front {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 30px;
  overflow: hidden;
  width: 100%;
  height: 156px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.front-text {
  position: absolute;
  top: 50%;
  left: 100px;
  font-size: 45px;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  color: white;
}
.front-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 30px;
  gap: 40px;

  width: 100%;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.content {
  border: 1px solid #cf91ff;
  padding: 20px;
  width: 686px;
  background: #edd5ff;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.side {
  align-items: flex-start;
  width: 213px;

  background: #ad6fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.side-profile {
  position: relative;
  left: 5px;
  top: 10px;
  width: 203px;
  margin-bottom: 10px;
}
