#head{
    position: absolute;
    width: 1440px;
    height: 279px;
    left: 0px;
    top: 0px;
}
#side{
    position: absolute;
    width: 274px;
    height: 745px;
    left: 0px;
    top: 279px;
}
#content{
    position: absolute;
    width: 1166px;
    height: 745px;
    right: 0px;
    bottom: 0px;
}